
/* Header Styles */
.header + main {
    padding-top: 80px; 
}
.header {
    background-color: #333;
    color:#e7e7e7;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    align-items: center; 
}

.header__content {
    display: flex; /* Use flexbox */
    align-items: center; 
    width: 100%; 
    justify-content: space-between; 
}

.header__logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__logo-img {
    width: 40px; 
    height: 40px; 
    margin-right: 10px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.5rem;
    background: #0062b9; }

.header__logo-sub {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.header__nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__link-wrapper {
    margin-right: 20px;
}

.header__link {
    text-decoration: none;
    color: #e7e7e7;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.header__link:hover {
    color: orange;
}

.header__main-ham-menu {
    display: none;
}

.header__main-ham-menu-checkbox {
    display: none;
}

.header__main-ham-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px; 
    height: 20px; 
    cursor: pointer;
    margin-left: auto; 
}

.header__main-ham-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fcfcfc;
    transition: transform 0.3s ease;
}

/* Rotate lines to form X */

.header__main-ham-menu span:nth-child(1) {
    top: 0;
}

.header__main-ham-menu span:nth-child(2) {
    top: 8px;
}

.header__main-ham-menu span:nth-child(3) {
    top: 16px;
}

/* When checked, rotate to form X */
.header__main-ham-menu-checkbox:checked ~ .header__main-ham-menu span:nth-child(1) {
    transform: rotate(45deg) translateY(0) translateX(10px);
}

.header__main-ham-menu-checkbox:checked ~ .header__main-ham-menu span:nth-child(2) {
    opacity: 0;
}

.header__main-ham-menu-checkbox:checked ~ .header__main-ham-menu span:nth-child(3) {
    transform: rotate(-45deg) translateY(0) translateX(10px);
}

/* Show menu when checkbox is checked */
.header__main-ham-menu-checkbox:checked ~ .header__nav {
    display: flex;
    flex-direction: column;
    background-color: #515151;
    border:1px;
    position: absolute;
    align-items: center;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    gap:0;
    padding: 0;
}

.header__nav li {
    margin-right: 0;
    text-align: left;
    margin-bottom: 10px;
}

.header__nav a {
    display: block;
    padding: 10px 0;
    color:#e7e7e7;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    top: 0;
    left: 0;
}

/* Mobile Styles */
@media only screen and (max-width: 900px) {
    /* Hide regular links on mobile */
    .header__nav {
        display: none;
    }

    /* Display ham menu */
    .header__main-ham-menu {
        display: flex;
    }

    /* Show links when ham menu is checked */
    .header__main-ham-menu-checkbox:checked ~ .header__nav {
        display: flex;
        color: #000;
    }
}

/*Profile section*/
.hero {
    margin-top: 20;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("./vector-bg.svg");
    background-size: cover;
    background-position: center; }
    @media only screen and (max-width: 900px) {
        .hero {
            display: flex;
        flex-direction: row;
            margin-top: 0;
            }
    }
  

.hero-sec {
    display: flex;
    width: 80%;
    justify-content: space-around; /* */
    column-gap: 1rem;
    margin: 0 auto}
    @media only screen and (max-width: 900px) {
    .hero-sec {
    display: block;
    width: 100;
    row-gap: 1rem;}
    .hero-sec{
        width: 100;
        justify-content: center;
    }
}

.left-side {
    flex: 1; /* Takes up all available space */
    margin:0; 
    justify-content: center;
}


.right-side {
    flex: 1; 
}

.second{
    margin: 0;
}

.dp-img {
    width: 400px;
    height: auto;
    border-radius: 5px;
    }

/*carreer goal section*/
.career-goal{
    width: 80%;
    margin: 0 auto}
    @media only screen and (max-width: 900px) {
        .career-goal{
            width:100%
        }
    }

/*skills section*/
.skills {
    background: #fafafa; }
    .skills__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8rem;
      width: 90%; 
      text-align: center;
      margin: 0 auto;}
      @media only screen and (max-width: 900px) {
        .skills__content {
          grid-template-columns: 1fr;
          grid-gap: 4rem; } }
      .skills__content-title {
        font-weight: 700;
        font-size: 2.8rem;
        margin-bottom: 2.5rem; }
        @media only screen and (max-width: 600px) {
          .skills__content-title {
            font-size: 1.4rem; } }
      .skills__content-details-para {
        font-size: 1.2rem;
        color: grey;
        max-width: 60rem;
        line-height: 1.7;
        margin-bottom: 1rem; }
        .skills__content-details-para--hl {
          font-weight: 700;
          margin: 0 3px; }
        .skills__content-details-para:last-child {
          margin-bottom: 4rem; }

.s {
  display: flex;
  flex-wrap: wrap; }
  .s__skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #777; }



/*Education Table */
.Edu-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  @media only screen and (max-width: 900px) {
    .Edu-table {
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 2rem;
        }
    .e-table {
        overflow-x: scroll;
    }
  }
  
  
  .Edu-table th,
  .Edu-table td {
    padding: 12px;
    border: 1px solid #333;
    font-size: 1rem;
  }
  
  .Edu-table th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    text-align: left;
  }
  
  /*Work Experience Table */
  .work-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  @media only screen and (max-width: 900px) {
    .work-table {
        width: 100%;
        margin-bottom: 2rem;
        }
        .w-table {
        overflow-x: scroll;
    }
  }
  
  .work-table th,
  .work-table td {
    padding: 12px;
    border: 1px solid #333;
    font-size: 1rem;
  }
  
  .work-table th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    text-align: left;
  }

/*Hobbies section*/
.hobbies-row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    background-color: #fafafa;
    margin-bottom: 6rem
}

@media only screen and (max-width: 900px) {
    .hobbies-row {
        grid-template-columns:1fr;
        grid-gap: 2rem;
        margin-bottom: 4rem
    }
}

@media only screen and (max-width: 900px) {
    .hobbies-row {
        text-align:center
    }
}

.hobbies-row-img {
    overflow: hidden
}

.h-img {
    width: 80%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 auto;
}

.hobbies-row-content {
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start
}

@media only screen and (max-width: 900px) {
    .hobbies-row-content {
        align-items:center
    }
}

/*Achivements section*/
.ach-row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    background-color: #fafafa;
    margin-bottom: 8rem
}

@media only screen and (max-width: 900px) {
    .ach-row {
        grid-template-columns:1fr;
        grid-gap: 0.5rem;
        margin-bottom: 4rem
    }
}

@media only screen and (max-width: 900px) {
    .ach-row {
        text-align:center
    }
}

.ach-row-img {
    overflow: hidden
}

.p-img {
    width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover
}

.ach-row-content {
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start
}

@media only screen and (max-width: 900px) {
    .ach-row-content {
        align-items:center
    }
}

.contact {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("./vector-bg.svg");
  background-size: cover;
  background-position: center; }
  .contact__form-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 2rem;
    margin-top: 3rem;
    max-width: 40rem;
    text-align: right;
    width: 95%;
    border-radius: 5px;
    margin: 2.5rem auto 0 auto; }
    @media only screen and (max-width: 900px) {
      .contact__form-container {
        padding: 3rem; } }
  .contact__form-field {
    margin-bottom: 2rem; }
    @media only screen and (max-width: 900px) {
      .contact__form-field {
        margin-bottom: 3rem; } }
  .contact__form-label {
    color: #666;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left; }
  .contact__form-input {
    color: #333;
    padding: 1rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1rem;
    letter-spacing: 0px;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
  }

.footer__lower {
    padding: 1rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 0.8rem;
    text-align: left;
    text-align: center; }
    .footer__lower a {
      text-decoration: underline;
      font-weight: bold;
      margin-left: 1px; }
    @media only screen and (max-width: 900px) {
      .footer__lower {
        padding: 1rem 0; } }